
                    <footer>
                        <section>
                            <h3><b>Contact</b></h3>
                            <p><b>+40740789027</b><br><br>
                            <b>Emails:</b><br>
                            ioan.cristian.irimia@gmail.com<br>
                            psychometal00@gmail.com<br><br>
                            <b>Skype:</b><br>
                            psycho.metal
                            </p>
                        </section>
                       
                    </footer>