<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" \>
        <title>Professional Gaming Coaching and Training </title>
        <meta name="viewport" content="width=divice-width, initial-scale-1.0">
        
        
        <style type="text/css">
        *{
            margin:0;
            border:0;
            padding:0;
        }
        body{
            background: #f0f0f0;
            font:14px/20px Arial, San-Serif;
            color: #555;
            margin:0;
        }
        h1{
            text-align:center;
            font-size:180%;
            line-height:120%;
            padding:5% 0;
        }
        h2{
            text-decoration: underline;
            line-height: 280%;
            padding-left:2%;
        }
        h3{
            line-height:110%;
            padding:5% 0;
        }
        p{
            padding: 1%;
        }
        img {
            text-align: center;
            max-width:100%;
            height: auto;
            width:auto;
        }
        a{
            color: #FFF;
            text-decoration: none;
            font-weight:bold;
        }
        a:hover{
            color:#FFF;
            text-decoration:underline;
        }
        header{
            background:#1C1C1C;
            width: 100%;
            height:86px;
            position:fixed;
            top:0;
            left:0;
            z-index:100;
            opacity:0.95;
        }
        #logo {
            margin:20px;
            float:left;
            width:200px;
            height:60px;
            background:url(https://upload.wikimedia.org/wikipedia/en/thumb/e/e0/WPVG_icon_2016.svg/50px-WPVG_icon_2016.svg.png)no-repeat center;
        }
        nav{
            float:right;
            padding: 35px 20px 20px 0;
        }
    #menu-icon{
        display:hidden;
        width:40px;
        height:40px;
        background:url(https://www.aocgaming.com/static/img/teams/3_logo.png?1471452004) center;
    }
    #menu-icon{
        border-radius: 4px 4px 0 0;
    }
    ul{
        list-style:none;
    }
    nav ul li{
        display: inline-block;
        float: left;
        padding: 10px;
    }
    .current{
        color: #FFF;
        text-decoration: underline;
        
    }
    #doc{
        margin:40px 0;
    }
    #content{
        margin:0 auto;
        max-width:1140px;
        margin-top:110px;
    }
    .Slide{
        max-width: 960px;
        margin-top: 110px;
    }
    section{
        width:29%;
        float: left;
        margin: 2% 2%;
        text-align:center;
    }
    .clear{
        clear:both;
    }
    article{
        float:left;
        margin:0 auto;
        width:50%;
        height:auto;
        padding:4%;
    }
    aside{
        float:right;
        margin:0 auto;
        width:35%;
        height:auto;
        padding:3%;
    }
    .program li{
        padding-left:3%;
    }
    footer{
        background: #333333;
        width:100%;
        overflow:hidden;
        opacity:0.90;
    }
    footer p, footer h3{
        color : #FFF;
    }
    footer p a{
        color: #FFF;
        text-decoration:none;
    }
        header{
            position: absolute;
        }
        #menu-icon{
            display:inline-block;
        }
        nav ul, nav:active ul{
            display:none;
            position: absolute;
            padding:20px;
            background:#405580;
            border: 1px solid white #FFF;
            right:20px;
            top:60px;
            width:50%;
            border-radius:2px 0 2px 2px;
        }
        nav li{
            text-align: center;
            width:100%;
            padding:10px 0;
            margin:0;
        }
        nav:hover ul{
            display:block;
        }
        
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery/1.6.1/jquery.min.js"></script>
        <script src="jquery.Slide.js"></script>
        
        <script>
        
        </script>
        <head>
            <body>
                <header>
                    <a href="#" id="logo"></a>
                    <nav>
                        <a href="#" id="menu-icon"></a>
                        <ul>
                            <li><a href="#" class="current">Home</a></li>
                            <li><a href="#">Coach: Ioan Irimia</a></li>
                            <img src="http://t14.deviantart.net/T2qREQ618zh_k3kd-xeBD_NszdY=/300x200/filters:fixed_height(100,100):origin()/pre11/04bd/th/pre/f/2014/045/9/d/_original_logo__republic_of_gamers_version_3_by_18cjoj-d76ekrf.png" style="display:block; margin-left:auto;margin-right:auto;" /> />
                            <li><a href="#">Top Games: World of Warcraft / Heroes of the Storm / Dota2</a></li>
                            <li><a href="#">Competitions: </a></li>
                            <li><a href="#">Equipment: All Equipment that you need</a></li>
                            <img src="https://cdn.pcpartpicker.com/static/forever/images/product/cd3d14b93788c19f5b92bc67a23c675d.256p.jpg" style="display:block; margin-left:auto;margin-right:auto;" />
                        </ul>
                    
                    </nav>
                </header>
                <div id="doc">
                    <div id="content">
                        <div class="Slide">
                            <ul class="slides">
                                <li><img src=https://3.bp.blogspot.com/-Uf5re1skfBI/V6mU24KZBrI/AAAAAAAAl04/R9OeREpMJY0tiAG-D3CNwFv0p5ukHzu9QCLcB/s1600/bl.bmp /></li>
                                <li><img src="http://www.nbusaad.com/wp-content/uploads/2016/04/dota-960x480.jpg" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <section>
                    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/19572-200.png" />
                    <h1><b>Begin your Adventure !</b></h1>
                    <p>We are professional gamers who turned the passion into a job and we want to share those skills with you !
                    So grab your mouse and your keyboard and let's do this !</p>
                </section>
                <section>
                    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/1832-200.png" />
                    <h1><b>Where to !</b></h1>
                    <p>Our location is in Bucharest but we can also have meeetings on Skype/TeamSpeak/Discord </p>
                </section>
                <section>
                    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/371327-200.png" />
                    <h1><b>Goals !</b></h1>
                    <p>Turning you into champions ! </p>
                </section>
                <div class="clear"></div>
                <article>
                    <img src="http://www.puistolanurheilijat.net/file/2016/11/the_best_gaming_hardware_for_speed.png" />
                    
                </article>
                <aside>
                    <h2><b>Our Schedule:</b></h2>
                    <ul class ="program">
                        <li><h3>Monday to Thursday: 6pm-12pm</h3></li>
                        <li><h3>Friday to Sunday: Streaming as much as we can</h3></li>
                    </ul>
                </aside>
                <div class="clear"></div>
                    <section>
                        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/1962-200.png" />
                        <h1><b>Beginners</b></h1>
                        <p>We have a special traning program for new people who want to join us !</p>
                    </section>
                    <section>
                        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/47649-200.png" />
                        <h1><b>Pros</b></h1>
                        <p>If you already are a professional but you miss things and you need a coach this is the perfect pleace for you</p>
                    </section>
                    
                
                    <footer>
                        <section>
                            <h3><b>Contact</b></h3>
                            <p><b>+40740789027</b><br><br>
                            <b>Emails:</b><br>
                            ioan.cristian.irimia@gmail.com<br>
                            psychometal00@gmail.com<br><br>
                            <b>Skype:</b><br>
                            psycho.metal
                            </p>
                        </section>
                        <section>
                            <h3><b>Stay close !</b></h3>
                            <ul class="social">
                                <li><a href="#"><img src="http://www.clker.com/cliparts/Q/i/m/K/Y/C/facebook-icon-th.png" /></a></li>
                                <li><a href="#"><img src="https://www.queeky.com/sites/default/files/images/YouTube-icon-full_color_0.thumbnail.png" /></a></li>
                                <li><a href="#"><img src="https://media.glassdoor.com/sql/639426/twitch-squarelogo-1399998819569.png" /></a></li>
                            </ul>
                        </section>
                        <section>
                            <img src="http://www.smartdatacollective.com/sites/smartdatacollective.com/files/gaming_0.jpg" />
                        </section>
                    </footer>
            </body>
</html>